/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/reset.css ***!
  \*********************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/reset.css (1) ***!
  \*************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/stylus-loader/dist/cjs.js!./src/css/index.styl ***!
  \***************************************************************************************************************/
.explosion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  min-width: 1023px;
  min-height: 600px;
  z-index: 9999;
  color: #000;
  opacity: 0;
}
.explosion_Opened {
  display: block;
}
.explosion_Opening {
  display: block;
}
.explosion_Opening .explosionImage {
  transition: none;
}
.explosionImage {
  display: block;
  position: absolute;
  width: 500px;
  height: auto;
  object-fit: cover;
  z-index: 2;
  opacity: 0.3;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  transition: transform 0.7s, opacity 0.7s;
}
.explosionControls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 22%;
  z-index: 10;
  justify-content: center;
  height: 400px;
  width: 3rem;
  margin-top: 3000px;
  transition: margin 0.7s;
}
.explosionSummary {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 0;
  background: #2d5051;
  transition: width 0.7s;
  color: #fff;
  overflow: hidden;
}
.explosionSummaryContent {
  padding: 0 4rem;
  opacity: 1;
  white-space: nowrap;
  transition: opacity 0.3s;
}
.explosionTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
}
.explosionDescription {
  color: #daa35b;
}
.explosionClose {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  background-image: url(assets/svg/8c62ab97293886c1b35f.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  cursor: pointer;
}
.explosionNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.explosionNav {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.explosionNav:hover {
  background-color: #000;
}
.explosionNav:disabled {
  pointer-events: none;
  opacity: 0.3;
}
.explosionNavPrev {
  background-image: url(assets/svg/30ed9e5ed09f43c63e91.svg);
}
.explosionNavPrev:hover {
  background-image: url(assets/svg/52349b16bdfb3f54b61e.svg);
}
.explosionNavNext {
  background-image: url(assets/svg/3806b276ed7b56167c6a.svg);
}
.explosionNavNext:hover {
  background-image: url(assets/svg/27b801f38b5d858e6470.svg);
}
.explosionCounter {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 0;
}
body,
html {
  font: 16px/1.4 Roboto, Arial, sans-serif;
}
.page {
  min-width: 1000px;
  padding: 2.5rem 2rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 0.7em;
}
.galleryItem {
  display: inline-block;
  width: 25%;
  padding-bottom: 29%;
  height: 0;
  position: relative;
  vertical-align: top;
}
.card {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  overflow: hidden;
}
.card:hover,
.card:visited {
  color: #fff;
}
.cardContent,
.cardHover,
.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cardImage {
  object-fit: cover;
  z-index: 1;
  transform: scale(1);
  transition: transform 3s;
}
.cardHover {
  z-index: 2;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: all 0.3s;
}
.cardContent {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s;
}
.cardTitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 0.2em;
  color: #daa35b;
}
.cardDescription {
  text-align: center;
}
.card:hover .cardHover,
.card:hover .cardContent {
  opacity: 1;
}
.card:hover .cardImage {
  transform: scale(1.2);
}
.explosion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  min-width: 1023px;
  min-height: 600px;
  z-index: 9999;
  color: #000;
  opacity: 0;
}
.explosion_Opened {
  display: block;
}
.explosion_Opening {
  display: block;
}
.explosion_Opening .explosionImage {
  transition: none;
}
.explosionImage {
  display: block;
  position: absolute;
  width: 500px;
  height: auto;
  object-fit: cover;
  z-index: 2;
  opacity: 0.3;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: 50% 50%;
  backface-visibility: hidden;
  transition: transform 0.7s, opacity 0.7s;
}
.explosionControls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 22%;
  z-index: 10;
  justify-content: center;
  height: 400px;
  width: 3rem;
  margin-top: 3000px;
  transition: margin 0.7s;
}
.explosionSummary {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 0;
  background: #2d5051;
  transition: width 0.7s;
  color: #fff;
  overflow: hidden;
}
.explosionSummaryContent {
  padding: 0 4rem;
  opacity: 1;
  white-space: nowrap;
  transition: opacity 0.3s;
}
.explosionTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
}
.explosionDescription {
  color: #daa35b;
}
.explosionClose {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  background-image: url(assets/svg/8c62ab97293886c1b35f.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  cursor: pointer;
}
.explosionNavs {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.explosionNav {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.explosionNav:hover {
  background-color: #000;
}
.explosionNav:disabled {
  pointer-events: none;
  opacity: 0.3;
}
.explosionNavPrev {
  background-image: url(assets/svg/30ed9e5ed09f43c63e91.svg);
}
.explosionNavPrev:hover {
  background-image: url(assets/svg/52349b16bdfb3f54b61e.svg);
}
.explosionNavNext {
  background-image: url(assets/svg/3806b276ed7b56167c6a.svg);
}
.explosionNavNext:hover {
  background-image: url(assets/svg/27b801f38b5d858e6470.svg);
}
.explosionCounter {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 0;
}


/*# sourceMappingURL=style.css.map*/